<div class="widget-wrap">
    <h3 class="widget-title">Meetup</h3>
    <div class="widget">
        <a href="https://www.meetup.com/OKC-Sharp/" style="font-weight: bold"><img src="images/meetup-logo.jpg" style="vertical-align: middle; height:32px"/> OKC-Sharp on Meetup</a>
    </div>
</div>
